.container {
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid red;
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.containerInner {
    position: relative;
    height: 0;
    border: none;
    padding-top: 100%; /* 100% ширины делим на 4 и умножаем на 3 */
}

.contentWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: #eee;*/
}

.contentWrapper p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
