.container {
    width: 100%;
    height: 100vh;
}

.dashboardContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.popUpSide {
    transition: all .5s ease-in-out;
    width: 20%;
}

.popUpSideOff {
    composes: popUpSide;
    width: 0;
}

.mainSide {
    transition: all .5s ease-in-out;
    width: 100%;
}

.mainSideOff {
    composes: mainSide;
    width: 80%;
}
