.container {
    position: relative;
    width: 100%;
    display: block;
    background-color: #fff;
    margin: 0 auto 4px auto;
    padding: 10px 30px 10px 6px;
    border-radius: 5px;
    text-align: left;
}

.deleteCardButton {
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}